phpstan:
  stage: lint
  image: quiqqer/testing:2-php8.3-beta
  cache:
    key:
      files:
      - ".phive/phars.xml"
    paths:
    - tools
    - "${CI_PROJECT_DIR}/.phive-home"
    when: always
  script:
  - PHPSTAN_VERSION_CONSTRAINT=
  - if [ -z ${PHPSTAN_VERSION_CONSTRAINT} ]; then PHPSTAN_VERSION_CONSTRAINT=$(phive
    --no-progress --home ${CI_PROJECT_DIR}/.phive-home status | { grep phpstan ||
    test $? = 1; } | awk '{print $2}'); fi
  - phive --no-progress --home ${CI_PROJECT_DIR}/.phive-home install --temporary --trust-gpg-keys
    51C67305FFC2E5C0 phpstan@${PHPSTAN_VERSION_CONSTRAINT}
  - if ( true ); then quiqqer-ci-install-package-from-folder "${CI_PROJECT_DIR}";
    PACKAGE_NAME=$(php -r "echo json_decode(file_get_contents('composer.json'))->name;");
    cd /var/www/html/packages/${PACKAGE_NAME}; fi
  - QUIQQER_OTHER_AUTOLOADERS=KEEP ./tools/phpstan --no-progress --memory-limit=-1